@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-link {
    @apply flex items-center px-4 py-3 text-white/90 hover:bg-white/10 transition-colors;
  }
  .sidebar-link.active {
    @apply bg-white/20 border-r-4 border-blue-300;
  }
}

.logo {
    width:130px !important;
    height: 250px !important;
    background-image: url("https://lmsg1.himsb.edu.eg/pluginfile.php/1/theme_academi/logo/1762726301/HIMS.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}

select option {
  color: black !important;
}